# Diretórios e arquivos de build
.gradle/
build/
**/build/

# Android Studio
.idea/
*.iml

# MacOS
.DS_Store

# Arquivos locais de configuração
local.properties

# Cache do Gradle Wrapper
.gradle/
gradle/

# Arquivos de log
*.log

# APKs / outputs
*.apk
*.aab

# Arquivos de sistema
*.swp
*.tmp

# Test reports
/test-output/

# Outros opcionais
captures/